<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/login" access="permitAll" />
		<security:intercept-url pattern="/register" access="permitAll" />
		<security:intercept-url pattern="/getAll" access="authenticated"/>
		<security:form-login login-page="/login" authentication-failure-url="/accessdenied" authentication-success-handler-ref="myAuthenticationSuccessHandler" authentication-failure-handler-ref="myAuthenticationFailureHandler"/>
		<security:http-basic entry-point-ref="customBasicAuthenticationEntryPoint"/>
	</security:http>
	
	<!-- XML authentication example 
	<security:authentication-manager>
	  <security:authentication-provider>
	    <security:user-service>
		<security:user name="test" password="test" authorities="ROLE_ADMIN" />
		<security:user name="admin" password="123456" authorities="ROLE_ADMIN" />
	    </security:user-service>
	  </security:authentication-provider>
	</security:authentication-manager> -->
	
	<!-- UserServiceDetails example -->
	<security:authentication-manager>
	  <security:authentication-provider user-service-ref="userService"/>
	</security:authentication-manager>
	
	<bean id="corsFilter" class="com.maroy.filters.CorsFilter"></bean>
	<bean id="myAuthenticationSuccessHandler"
        class="com.maroy.filters.AjaxAuthenticationSuccessHandler" />
    <bean id="myAuthenticationFailureHandler"
        class="com.maroy.filters.AjaxAuthenticationFailureHandler" />
        
    <bean id="customBasicAuthenticationEntryPoint" class="com.maroy.filters.CustomBasicAuthenticationEntryPoint">
		<constructor-arg value="Ticeting App" />
	</bean>
	
</beans>
