<form name="CreateTicketForm" ng-submit="updateTicket()" data-ng-init="updateFormInit()">

    <div ng-include src="'resources/modules/home/leftBar.html'"></div>

    <div class="col-xs-12" ng-class="{'col-sm-12': !userInfo.email, 'col-sm-9': userInfo.email}" style="float:right">
        <div class="panel panel-primary">
            <div class="panel-heading">Your Details</div>
            <div class="panel-body">
                <div class="form-group">
                    <input class="form-control" ng-model="custName" name="name" type='text' placeholder='Full Name' required>
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="email" name="email" type='email' placeholder='Email' required>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" ng-class="{'col-sm-12': !userInfo.email, 'col-sm-9': userInfo.email}" style="float:right">
        <div class="panel panel-primary">
            <div class="panel-heading">Details</div>
            <div class="panel-body">

                <div class="form-group">
                    <input class="form-control" ng-model="ticketSub" name="subject" type='text' placeholder='Ticket Subject' required>
                </div>

                <select class="form-control" name="assinedTo" ng-model="assignedTo" placeholder="Ticket Group" required>
                    <option ng-repeat="assTo in assignToGroups">{{ assTo}}</option>
                </select>

            </div>
        </div>
    </div>

    <div class="col-xs-12" ng-class="{'col-sm-12': !userInfo.email, 'col-sm-9': userInfo.email}" style="float:right">
        <div class="panel panel-primary">
            <div class="panel-heading">Description</div>
            <div class="panel-body">
                <input type="textarea" text-angular ng-model="comments" required>
            </div>
        </div>
    </div>

    <div class="col-xs-12" ng-class="{'col-sm-12': !userInfo.email, 'col-sm-9': userInfo.email}" style="float:right">
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <div align="center">
            <button ng-class="{disabled: !CreateTicketForm.$valid}" ng-click="updateTicket()" type="button" class="btn btn-primary btn-lg btn-block">Update Ticket</button>
        </div>
    </div>

</form>